<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.diaosiding.college.dao.ClassesNewsDao">
    
	<select id="selectClassesNewsByClassId" parameterType="int" resultMap="classesNewsMap" >
	   select id,classid,content,inserttime 
	   from class_news
	   where classid = #{classId}
	   order by inserttime desc
	   limit #{limit}
	</select>    
	    
	<insert id="addClassesNews" parameterType="com.diaosiding.college.model.ClassesNews">
		insert into class_news (classid,content,inserttime )
		 values(#{classId},#{content},#{insertTime})
	</insert>
	
	<delete id="deleteClassesNewsById"  parameterType="int" >
	    delete from class_news where id = #{id}
	</delete>
	
	 <resultMap type="ClassesNews" id="classesNewsMap">
	     <id property="id" column="id" />  
	     <result property="classId" column="classid"/>  
	     <result property="content" column="content"/>
	     <result property="insertTime" column="inserttime"/>
	</resultMap>
	
</mapper>