<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.diaosiding.college.dao.StudentMessageDao">
    
	
	<select id="selectStudentMessageByStudentId" parameterType="int"   resultMap="studentMessageMap"  >
	   select id,studentid,content,inserttime 
	   from student_message
	   where studentid = #{studentId}
	   order by inserttime desc
	   limit #{limit}
	</select>    
	    
	<insert id="addStudentMessage" parameterType="com.diaosiding.college.model.StudentMessage">
		insert into student_message (studentid,content,inserttime )
		 values(#{studentId},#{content},#{insertTime})
	</insert>
	
	<delete id="deleteStudentMessageById" parameterType="int" >
	    delete from student_message where id = #{id}
	</delete>
	
	 <resultMap type="StudentMessage" id="studentMessageMap">
	     <id property="id" column="id" />  
	     <result property="studentId" column="studentid"/>  
	     <result property="content" column="content"/>
	     <result property="insertTime" column="inserttime"/>
	</resultMap>
	
</mapper>